*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: var(--font-standard);
    font-size: var(--body);
    line-height: 1.6;
    background-color: var(--bleufonce);
}

h1 {
    font-family: var(--font-title);
    font-size: var(--h1);
    font-weight: normal;
    line-height: 1.1;
}

h2 {
    font-family: var(--font-title);
    font-size: var(--h2);
    font-weight: 500;
}

h3 {
    font-family: var(--font-title);
    font-weight: 400;
    font-size: var(--h3);
    line-height: 1.4;
}

p {
    font-family: var(--font-standard);
    line-height: 1.4;
}

#a {
    display: flex;
    flex-direction: column;
    background-color: var(--creme);
}

img > .imgIntro {
    max-width: 50%;
}

figure {
    display: flex;
    flex-direction: row;
    
}

figure > .joker1 {
    max-width: 50%;
    height: auto;
    border: 2px solid ;
    border-radius: 20px;
    border-color: var(--bleufonce);
}

#a > h2 {
    display: flex;
    justify-content: center;
}

#a > button {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--font-quote);
    font-size: var(--tweet);
    background-color: var(--rouge);
    border: none;
    border-radius: 50px;

}

#a > button > a{
    text-decoration: none;
    color: var(--creme);
}

#b {
    background-color: var(--bleufonce);
    display: flex;
    flex-direction: column;
}

#b > figcaption {
    color: var(--creme);
    
}

figure > .main {
    display: flex;
    flex-direction: row;
}

#b > button {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--font-quote);
    font-size: var(--tweet);
    background-color: var(--rouge);
    border: none;
    border-radius: 50px;
}

#b > button > a{
    text-decoration: none;
    color: var(--creme);
}

#c {
    background-color: var(--vert);
    display: flex;
    flex-direction: column;
}

#c > button {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--font-quote);
    font-size: var(--tweet);
    background-color: var(--rouge);
    border: none;
    border-radius: 50px;
}

#c > button > a{
    text-decoration: none;
    color: var(--creme);
}
    
figure > .joker3 {
    border: 2px solid;
    border-color: var(--bleufonce);
    border-radius: 20px;
}

.artSuiv > button {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--font-quote);
    font-size: var(--tweet);
    background-color: var(--rouge);
    border: none;
    border-radius: 50px;
}

.artSuiv > button > a{
    text-decoration: none;
    color: var(--creme);
}